/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
html,
body,
div,
button,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
address,
big,
cite,
code,
pre,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
span,
a,
li,
ul,
i{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
}
hr{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
/* remember to define focus styles! */

:focus {
    outline: 0;
}
/* remember to highlight inserts somehow! */

ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul li {
    list-style: none;
}
code,
pre {
    display: block;
    background: #ccc;
    border: 1px solid #000;
    margin: 10px 0;
    overflow: scroll;
    padding: 10px;
    clear: both;
}
* {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
}
ul {
    text-decoration: none;
}

p, a {
    color: inherit;
}
a,
a:hover {
    text-decoration: none;
}
html body {
    font-size: 14px;
    font-family: Lato;
    line-height: 1;
    color: black;
}
a,
li,
span {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
/*========== End Reset Css ==========*/

.gutter-20.row {
    margin-right: -10px;
    margin-left: -10px;
}
.gutter-20 > [class^="col-"],
.gutter-20 > [class^=" col-"] {
    padding-right: 10px;
    padding-left: 10px;
}
.gutter-15.row {
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.gutter-15 > [class^="col-"],
.gutter-15 > [class^=" col-"] {
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.gutter-10.row {
    margin-right: -5px;
    margin-left: -5px;
}
.gutter-10 > [class^="col-"],
.gutter-10 > [class^=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}
.gutter-0.row {
    margin-right: 0;
    margin-left: 0;
}
.gutter-0 > [class^="col-"],
.gutter-0 > [class^=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
/*fonts*/

@font-face {
    font-family: Lobster;
    font-weight: bold;
    src: url(fonts/Lobster/Lobster-Regular.ttf);
    }
@font-face {
    font-family: Lato;
    src: url(fonts/lato/Lato-Regular.ttf);
}
/*========== End Gutter ==========*/
/*class chung*/

.cl-b {
    clear: both;
}
.cl-l {
    clear: left;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.fw {
    width: 100%;
    float: left;
}
.mg {
    margin: 0 auto;
}
.pos-r {
    position: relative;
}
.pos-a {
    position: absolute;
}
.bgw {
    background-color: #fff;
}
.superscript {
    position: relative;
    top: -0.5em;
    font-size: 80%;
}
/*.btn {
    background-color: transparent;
    border: 0
}*/

.fa-home {padding-right: 5px;}
/*Transition*/
a,button {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

/*Header*/
#header {
    position: relative;
}

#header h1 {
    color: #fafafa;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5;
}

#header h1 strong {
    font-size: 1.25em;
}

#header-left-content {
    float: left;
    width: 100%;
    display: table;
    background-color: #29166f;
}

.logo {
    display: table-cell;
    vertical-align: middle;
    width: 15%;
    padding: 15px 0px 15px 10px;
}

.logo img {
    max-width: 90px;
}
.titleimg {
    max-width: 100% !important;
}
.school-name {
    width: 70%;
    padding: 15px 10px;
    display: table-cell;
    vertical-align: middle;
}
.timkiem{
    margin-top: 3px !important;
}
#header-banner {display: none;}
/*End header*/

/*Menu*/

#menu-tog {
    padding: 10px;
    background-color: #130A33;
    color: #fafafa;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    font-size: 20px;
}

.navbar {
    display: none;
    margin-bottom: -8px !important;
}
.navbar > ul {
    background-color: #DDDDDD;
    width: 100%;
}

.navbar > ul > li {
    position: relative;
}
.navbar > ul > li:hover > a, ul.submenu > li:hover > a {
    background-color: #333399;
    color: #fff
}
.navbar > ul > li > a, ul.submenu > li > a {
    display: block;
    padding: 12px 15px;
    border-bottom: 1px solid rgba(120, 120, 120, 0.2);
}

ul.submenu {
    padding-left: 40px;
    z-index: 99;
    display: none;
}
ul.submenu > li {
    position: relative;
}
ul.submenu > li > a {
    padding: 12px 0;
    border-bottom: 1px dotted rgba(120, 120, 120, 0.2);
    background-color: #003399;
    color: #dddddd;
}


li.has-submenu i.fa {
    color: #DAF7DC;
    position: absolute;
    right: 15px;
}



.mobile-icon-minus:before, .mobile-icon-plus:before {
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
    font-size: 16px;
}

.mobile-icon-plus:before {
    content: '\f0d7';
}

.mobile-icon-minus:before {
    content: '\f0d9';
}

/*end menu*/

/*Body*/


body {
    background: rgba(51, 122, 183, 0.07);
}

#main-container {background-color: #fefefe;color: #3d3d3d;}

#introduction {
    color: #808080;
    background-color: #fbf9f9;
    padding-top: 25px;
    margin-bottom: 20px;
}
.feature-item {text-align: center;}

.feature-item strong {
    margin: 0;
    padding: 15px 0 10px;
    font-weight: 700;
    color: #3d3d3d;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    line-height: 1.3;
}

.feature-item p {
    padding: 0 37px 19px;
    font-size: 16px;
    line-height: 1.8;
}
.feature_bg{
    display: block;
}

.feature_bg > span {
    background: #044489;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    display: block;
    margin: 0 auto;
}

.feature_bg img {
    padding-top: 15px;
}

.main-news {
}

.main-news .article-title,.sidebar-title {
    position: relative;
    padding: 10px 0;
    font-size: 20px;
}


.main-news .article-title:before, .sidebar-title:before {
    content: "";
    position: absolute;
    bottom: 0;
    /*display: block;*/
    width: 80px;
    height: 3px;
    background-color: #3C2B7C;
}

.main-news .main-news-title h2 {}
.main-news .main-news-item {
    margin: 15px 0;
}
.main-news .main-news-item .main-news-title {
    font-weight: bold;
    line-height: 1.5;
    font-size: 15px;
    padding: 10px 0;
    display: block;
    color: #130A33;
}
.main-news a:hover {color: #613fd9!important}
.main-news .main-news-item .main-news-image {}
.main-news .main-news-item .main-news-image img {max-height: 175px;}
.main-news .main-news-item .main-news-publish-date, .sidebar-news .sidebar-news-publish-date {
    font-size: 11px;
    color: rgb(222, 161, 36);
}
.main-news .main-news-item .main-news-publish-date:before,.sidebar-news .sidebar-news-publish-date:before {font-family: FontAwesome;content: '\f073';padding-right: 5px;font-size: 15px;}
.main-news .main-news-item .main-news-summary {
    padding: 10px 0;
    text-align: justify;
    line-height: 1.4;
    font-size: 13px;
}
.sukien{
    padding-top: 5px;
    text-align: center;
    padding-bottom: 10px;

}
.sukien p a {
    color: #c71b28;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 150px;
}
/* Demo 2 */
#demo-2 input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
#demo-2 input[type=search]:hover {
    background-color: #fff;
}
#demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#demo-2 input:-moz-placeholder {
    color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}
/* --------Start------- */
.tieude{
    padding-top: 260px !important;
    padding-bottom: 8px !important;
    padding-right: 30px;

}
.more{
    float: right;
    color:#cf0000;
    font-weight: bold;
    font-size: 0.875em;
    text-transform: uppercase;
    text-decoration: none;
    padding-top:10px;
    font-family: Lato;
}
.counter-zone{
    text-align: center;
    margin-top: 10px;
}
 .num-counter {
    background-color: #C23000;
    display: inline-block;
    text-align: center;
    padding: 0.3em;
    color: #fff;
    font-weight: bold;
}
/*------- End --------- */
/*Map*/
#map {background-color: #fafafa;padding-bottom: 20px;}
#map .map-title {font-size: 20px;text-align: center;line-height: 1.5;position: relative;text-transform: uppercase;padding-top: 20px;}
#map .map-title:after,#map .map-title:before {
    content:'';
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
}
#map .map-title:before {
    width: 200px;
    height:1px;
    background-color: #e1e1e1;
}
#map .map-title:after {
    width: 18px;
    height: 23px;
    background: url(img/flag.png);
    background-repeat: no-repeat;
    bottom: -37px;
}
/*.tinnoibat-fix{
    float: left;
    bottom: 0;
    font-size: 22px;
    font-weight: 500px;
    max-width:130px;
    min-height: 35px;
    border-radius: 1em;
    background: #044489; margin-left:10px;
}*/
/*.tinnoibat-fix>span{
    color: #fff;
    font-size: 17px;
    text-align: center;

}*/
.left h2{
    margin-top: 5px;
    padding-top: 10px;
    padding-left: 4px;
    background-color: #025997;
    height: 48px;
    line-height: 29px;
    position: relative;
}

.sukien {
    width: 100%;
    float: left;
    margin-top: 0px;
}

.sukien .left {
    background-position: 0 -143px;
    /*height: 50px;*/
    float: left;
    line-height: 50px;
    padding-left: 2px;
}

.sukien .left h2 {
    font-size: 18px;
    color: #fff;
    margin: 0 auto;
    /*padding-left: 10px;*/
    font-weight:500 !important;
}

.sukien .left h2:after {
    width: 50px;
    content: "";
    height: 46px;
    position: absolute;
    top: 0px;
    right: -50px;
    border-width: 24px 0px 24px 30px;
    border-style: solid;
    border-color: transparent transparent transparent #025997;
    z-index: 50;
}

.sukien .left span {
    color: #fff;
    margin-left: 0px;
}

.sukien p {
    color: #363636;
    text-align: center;
    display: block;
    padding: 3px 0 0 0;
}

.bor-bottom-red {
    float: left;
    height: 35px;
    border: 1px solid;
}
#tinhot{
    text-align: center;
}
#tinhot>p>a{
    color: #c71b28;
    font-weight: bold;
    font-size: 17px;
    /*margin-top: 20px;*/

}
input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

/**/
/*sidebar*/

#sidebar-slider {}
#sidebar-slider .owl-item {
    height: auto!important;
}

#sidebar {
    margin-bottom: 15px;
}
#sidebar a:hover {color: #613fd9!important;}

.sidebar-title {}
.sidebar-news {position: relative;margin-top: 5px;}
.sidebar-news .sidebar-news-image { padding-top: 13px; }
.sidebar-news .sidebar-news-image img {
    padding: 10px;
    min-height: 80px;
    max-width: 100px;
}
.sidebar-news .sidebar-content {
    font-size: 11.5px;
    line-height: 1.4;
    box-sizing: border-box;
    padding-top: 10px;
}
.sidebar-news .sidebar-content a {padding: 3px 0;display: block;overflow: hidden;text-overflow: ellipsis;text-align: justify;}

.slider-control {position: absolute;right: 0;top: 7px;}
.sidebar-slider-prev,.sidebar-slider-next {display: inline-block;padding: 0 7px;border-radius: 1px;border: 1px solid #DDD;}
.sidebar-slider-next:hover, .sidebar-slider-prev:hover {background-color: #ccc;color: #fefefe;}
.more {
    font-size: 13px;
}
.more:after {font-family: FontAwesome;padding-left: 5px;}

#danh-sach-khoa ul {
    font-size: 13px;
    line-height: 1.2;
}
#danh-sach-khoa ul > li {
    border-bottom: 1px dashed #bbb;
}
#danh-sach-khoa ul > li:last-child {
    border-bottom: none;
}
#danh-sach-khoa ul > li > a {padding: 10px 0;display: block;}

/*Gallery*/
#gallery {}
#gallery .gallery-item {
    margin: 10px auto 0;
}
#gallery .gallery-item:nth-of-type(2n+1) {clear: left;}
#gallery .gallery-item img {
    height: 85px;
}
.body-tincon{
    padding-top: 15px;

}
.body-tincon>p{
    font-weight: normal;
    padding-left: 8px;
    text-align:justify;
}
.font-type{
    line-height: 23px;
    font-family: Lato;
    font-size: 13px;
}
.tintuc{
    padding-left: 30px;
}
.tintuc>p{
    font-weight: 500;
    font-size: 16px;
    font-family: Lato;
}
.fix{
    clear: both;
}
#pad{
    line-height: 2em;
}
/**/
/*End body*/

/*Footer*/
.footer {
    background-color: #044489;
    border-top: 10px solid #130A33;
    color: #fbfbfb;
    height: 403%;
    line-height: 1.5em;
    font-weight: 0;
}
.footer-left{
    padding-top: 20px;
    padding-left: 10px;
    float: left;
    padding-bottom: 30px;
}

.footer-left>p{
    font-weight: normal;
}
.footer-right>p{
    font-weight: normal;
}

.footer-right{
    padding-top: 20px;
    float: right;
    padding-bottom: 30px;
}

/**/

.content{
    margin-bottom: 25px;
}

#map {
    height: 100%;
}

#main-content{
    margin-bottom: 30px;
}

.world-news-grid {
    width:31.5%;
    float:left;
    margin-right:1.75%;
    margin-bottom: 15px;
}
.world-news-grid img {
    width:100%;
}
.world-news-grid:nth-child(3){
    margin-right:0;
}
.left-posts {
    width:68%;
    margin-right:4%;
    float:left;
}
.right-posts {
    width:28%;
    float:right;
}
.main-title-head {
    border-bottom: 4px solid #cf0000;
    margin-bottom:1.7em;
}
.main-title-head h3 {
    color:#202021;
    font-size:1.6em;
    font-weight:400;
    word-spacing:3px;
    float:left;
    padding-bottom: 4px;
}
.main-title-head a {
    float:right;
    text-decoration:none;
    color:#fff;
    background:#cf0000;
    text-transform:uppercase;
    font-size:0.7em;
    padding:3px 8px;
    margin-top: 8px;
}
.world-news-grid p {
    color: #202021;
    font-size: 0.95em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 3px 0 8px 0;
}
.world-news-grid a {
    color:#cf0000;
    font-weight:bold;
    font-size:0.8em;
    text-transform:uppercase;
    text-decoration:none;
}
.world-news-grid a.title {
    color: #202021;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    text-transform:lowercase;
    display:block;
    text-decoration:none;
}
.world-news-grid a.title:hover {
    color:#cf0000;
}
.latest-articles {
    margin:2em 0;
}
.desk-grid h3 {
    color: #202021;
    font-size: 1.6em;
    font-weight: 400;
    word-spacing: 3px;
    border-bottom: 4px solid #cf0000;
    margin-bottom: 1em;
    padding-bottom: 4px;
}
.desk h5 {
    color: #202021;
    font-size: 1em;
    font-weight: bold;
}
.desk p {
    color: #202021;
    font-size: 0.95em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 8px 0;
}
.desk p a {
    color: #cf0000;
    font-weight: bold;
    font-size: 0.875em;
    text-transform: uppercase;
    text-decoration: none;
}
.desk p span {
    margin-left: 2em;
    font-size: 0.875em;
    font-weight: normal;
    letter-spacing: 2px;
}
.desk {
    border-bottom: 1px dotted #202021;
    margin-bottom: 2em;
    padding-bottom: 0.8em;
}
.desk:nth-child(4){
    border:none;
    margin-bottom: 0em;
}
.world-news-grid a.more{
    text-decoration: none;
    color: #fff;
    background: #cf0000;
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 4px 8px;
}
.editorial {
    margin-top:2em;
}
.editor a img {
    width:100%;
}
.editor a {
    color: #cf0000;
    font-size: 0.95em;
    font-weight: bold;
    text-decoration:none;
    margin:8px 0;
    display: block;
}
.editor a:hover {
    color:#202021;
}
.editorial h3 {
    color: #202021;
    font-size: 1.6em;
    font-weight: 400;
    word-spacing: 3px;
    border-bottom: 4px solid #cf0000;
    margin-bottom: 0.6em;
    padding-bottom: 4px;
}
.thumb-content{
    padding: 0px;
}
.canle{
    width:25%;
    float:left;
}
#iframe{
    margin-top:10px;
    max-height: 200px;
    width: 100%;
}
/*-------Trang Con ---------*/
.ndung{
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
}
.pos-rela{
    position: relative;
}
.cha:hover {
    -webkit-box-shadow: 0 0 2px 1px #222;
    -moz-box-shadow: 0 0 2px 1px #222;
    box-shadow: 0 0 2px 1px #222;
}

.fw{
    float: left;
    width: 100%;
}

.img-responsive-trangcon {
    max-width: 100%;
    height: 125px;
    display: block;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.fix-img{
    border: 1px solid #ddd;
    border-radius: 1em;
    float: left;
    margin-left: 40px;
    margin-bottom: 18px;
}
.fix-img>img{
    width: 80px;
    height: 100px;
}
